* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family:Arial, Helvetica, sans-serif;
}

#fundo {
    position: absolute;
    width: 1366px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: linear-gradient(112.9deg, #048853 0.98%, rgba(0, 0, 0, 0.84) 165.36%);
}

#pontos_1 {
    position: absolute;
    left: 0%;
    right: 61.35%;
    top: 14.28%;
    bottom: 77.73%;
}

#pontos_2 {
    position: absolute;
    left: 662.24px;
    top: 59.96px;
    transform: matrix(-0.62, 0.71, -0.89, -0.59, 0, 0);
}

#logo {
    position: absolute;
    width: 23.67px;
    height: 23.67px;
    left: 96.67px;
    top: 50.67px;
    background-color: #FFFFFF;
    border-radius: 90px;
}

#titulo1 {
    position: absolute;
    width: 189px;
    height: 30px;
    left: 131px;
    top: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.menu {
    position: absolute;
    width: 282px;
    height: 24px;
    left: 518px;
    top: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    list-style: none;
    display: flex;
}

#home,
#casas,
#aptos {
    margin-right: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.login {
    position: absolute;
    width: 48px;
    height: 24px;
    left: 1034px;
    top: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    list-style: none;
    display: flex;
}

#login,
#cadastrar {
    margin-right: 58px;
    text-decoration: none;
    color: #FFFFFF;
}

#sonhos {
    position: absolute;
    width: 932.18px;
    height: 588.76px;
    left: 688.59px;
    top: 179.66px;
    /*não funcionou*/
    background: url(img\vector01.png);
}

#sonhos_fundo {
    position: absolute;
    width: 665.97px;
    height: 564.85px;
    left: 701px;
    top: 203.15px;
    background: #C4C4C4;
    border: 1px solid #000000;
}

#encontre {
    position: absolute;
    width: 491px;
    height: 144px;
    left: 93px;
    top: 206px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px; /* or 138% */
    color: #FFFFFF;
}

#encontre_txt {
    position: absolute;
    width: 453px;
    height: 72px;
    left: 97px;
    top: 368px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#pesquisar {
    position: absolute;
    width: 237px;
    height: 70px;
    left: 93px;
    top: 478px;
    background: #FFFFFF;
}

#pesquisar_texto {
    position: absolute;
    width: 82px;
    height: 24px;
    left: 166px;
    top: 501px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #048853;
}

#seta {
    position: absolute;
    left: 359.5px;
    top: 501.11px;
    background: #FFFFFF;
}

#nossa {
    position: absolute;
    width: 357px;
    height: 72px;
    left: 505px;
    top: 877px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    color: #048853;
}

#busque {
    position: absolute;
    width: 579px;
    height: 27px;
    left: 394px;
    top: 941px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#casa {
    position: absolute;
    width: 380px;
    height: 313px;
    left: 93px;
    top: 1014px;
    background: linear-gradient(124.64deg, #00985B 0%, #000000 186%);
    border-radius: 5px;
}

#casa_elipse {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 247px;
    top: 1073px;
    background: #FFFFFF;
}

#casa_icone {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 254px;
    top: 1079px;
    background: url(.png);
}

#casa_titulo {
    position: absolute;
    width: 199px;
    height: 36px;
    left: 183px;
    top: 1156px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

#casa_texto {
    position: absolute;
    width: 273px;
    height: 63px;
    left: 146px;
    top: 1205px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

#requisito {
    position: absolute;
    width: 380px;
    height: 313px;
    left: 493px;
    top: 1014px;
    background: #FFFFFF;
    border-radius: 5px;
}

#requisito_elipse {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 647px;
    top: 1073px;
    background: #00985B;
}

#requisito_icone {
    position: absolute;
    width: 57px;
    height: 56.34px;
    left: 655px;
    top: 1080px;
    background: url(.png);
}

#requisito_titulo {
    position: absolute;
    width: 271px;
    height: 36px;
    left: 547px;
    top: 1156px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    color: #00985B;
}

#requisito_texto {
    position: absolute;
    width: 285px;
    height: 63px;
    left: 540px;
    top: 1205px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#local {
    position: absolute;
    width: 380px;
    height: 313px;
    left: 894px;
    top: 1014px;
    background: #FFFFFF;
    border-radius: 5px;
}

#local_elipse {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1048px;
    top: 1073px;
    background: #00985B;
}

#local_icone {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1055px;
    top: 1079px;
    background: url(.png);
}

#local_titulo {
    position: absolute;
    width: 198px;
    height: 36px;
    left: 984px;
    top: 1156px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    color: #00985B;
}

#local_texto {
    position: absolute;
    width: 264px;
    height: 63px;
    left: 951px;
    top: 1205px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#imoveis {
    position: absolute;
    width: 1366px;
    height: 1253px;
    left: 0px;
    top: 1327px;
    background: #F3FFF4;
}

#recentes {
    position: absolute;
    width: 741px;
    height: 72px;
    left: 313px;
    top: 1431px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    color: #048853;
}

#rec01_retangulo {
    position: absolute;
    width: 363px;
    height: 469px;
    left: 101px;
    top: 1558px;
    background: #FFFFFF;
    border-radius: 5px;
}

#rec01_imagem {
    position: absolute;
    width: 371.15px;
    height: 286.47px;
    left: 93.14px;
    top: 1564px;
    background: url(.png);
}

#rec01_preco {
    position: absolute;
    width: 196px;
    height: 36px;
    left: 122px;
    top: 1851px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_titulo {
    position: absolute;
    width: 156px;
    height: 21px;
    left: 122px;
    top: 1882px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_sub {
    position: absolute;
    width: 38px;
    height: 21px;
    left: 122px;
    top: 1899px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FF0000;
}

#rec01_cama {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 20.83%;
    bottom: 16.67%;
    background: #000000;
}

#rec01_qtde1 {
    position: absolute;
    width: 9px;
    height: 21px;
    left: 151px;
    top: 1953px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_banho {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #000000;
}

#rec01_qtde2 {
    position: absolute;
    width: 10px;
    height: 21px;
    left: 270px;
    top: 1953px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_local {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 10%;
    background: #000000;
}

#rec01_qtde3 {
    position: absolute;
    width: 42px;
    height: 21px;
    left: 393px;
    top: 1953px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_titulo1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 122px;
    top: 1974px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_titulo2 {
    position: absolute;
    width: 81px;
    height: 18px;
    left: 242px;
    top: 1974px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec01_titulo3 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 366px;
    top: 1974px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

#rec02_retangulo {
    position: absolute;
    width: 363px;
    height: 469px;
    left: 501px;
    top: 1558px;
    
    background: linear-gradient(150.86deg, #00985B -2.67%, #00985B 56.48%, #000000 113.25%);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;   
}

#rec02_imagem {
    position: absolute;
width: 373.17px;
height: 279.88px;
left: 485.6px;
top: 1564px;

background: url();
}

#rec02_preco {
    position: absolute;
width: 196px;
height: 36px;
left: 522px;
top: 1851px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}

#rec02_titulo {
    position: absolute;
    width: 156px;
    height: 21px;
    left: 522px;
    top: 1882px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;    
}

#rec02_sub {
    position: absolute;
width: 30px;
height: 21px;
left: 523px;
top: 1899px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #FF7A00;
}

#rec02_cama {
    position: absolute;
left: 4.17%;
right: 4.17%;
top: 20.83%;
bottom: 16.67%;

background: #000000;
}

/*#rec02_qtde1 {
   NAO EXISTE 
}*/

#rec02_banho {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;
}

#rec02_qtde2 {
    position: absolute;
width: 10px;
height: 21px;
left: 670px;
top: 1953px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;
}

#rec02_local {
    position: absolute;
left: 10%;
right: 10%;
top: 15%;
bottom: 10%;

background: #000000;
}

#rec02_qtde3 {
    position: absolute;
width: 42px;
height: 21px;
left: 793px;
top: 1953px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec02_titulo1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 522px;
    top: 1974px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec02_titulo2 {
    position: absolute;
    width: 81px;
    height: 18px;
    left: 642px;
    top: 1974px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

#rec02_titulo3 {
    position: absolute;
width: 74px;
height: 18px;
left: 766px;
top: 1974px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec03_retangulo {
    position: absolute;
    width: 363px;
    height: 469px;
    left: 901px;
    top: 1558px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

#rec03_imagem {
    position: absolute;
width: 380.82px;
height: 303.89px;
left: 888.53px;
top: 1546.45px;

background: url(.png);
}

#rec03_preco {
    position: absolute;
width: 196px;
height: 36px;
left: 922px;
top: 1851px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec03_titulo {
    position: absolute;
    width: 156px;
    height: 21px;
    left: 922px;
    top: 1882px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec03_sub {
    position: absolute;
    width: 95px;
    height: 21px;
    left: 922px;
    top: 1899px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #00985B;
        
}

#rec03_cama {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 20.83%;
    bottom: 16.67%;
    
    background: #000000;    
}

#rec03_qtde1 {
    position: absolute;
width: 9px;
height: 21px;
left: 951px;
top: 1953px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec03_banho {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #000000;    
}

#rec03_qtde2 {
    position: absolute;
width: 10px;
height: 21px;
left: 1070px;
top: 1953px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec03_local {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 10%;
    
    background: #000000;    
}

#rec03_qtde3 {
    position: absolute;
width: 42px;
height: 21px;
left: 1193px;
top: 1953px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec03_titulo1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 922px;
    top: 1974px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

#rec03_titulo2 {
    position: absolute;
width: 81px;
height: 18px;
left: 1042px;
top: 1974px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec03_titulo3 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 1166px;
    top: 1974px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

#rec04_retangulo {
    position: absolute;
    width: 363px;
    height: 469px;
    left: 101px;
    top: 2052px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

#rec04_imagem {
    position: absolute;
width: 353.61px;
height: 462.77px;
left: 106.79px;
top: 2020.05px;

background: url();
}

#rec04_preco {
    position: absolute;
width: 196px;
height: 36px;
left: 122px;
top: 2345px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec04_titulo {
    position: absolute;
    width: 156px;
    height: 21px;
    left: 122px;
    top: 2376px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec04_sub {
    position: absolute;
    width: 38px;
    height: 21px;
    left: 122px;
    top: 2393px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF0000;
        
}

#rec04_cama {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 20.83%;
    bottom: 16.67%;
    
    background: #000000;    
}

#rec04_qtde1 {
    position: absolute;
width: 9px;
height: 21px;
left: 151px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec04_banho {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #000000;    
}

#rec04_qtde2 {
    position: absolute;
width: 10px;
height: 21px;
left: 270px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;
}

#rec04_local {
    position: absolute;
left: 10%;
right: 10%;
top: 15%;
bottom: 10%;

background: #000000;
}

#rec04_qtde3 {
    position: absolute;
width: 42px;
height: 21px;
left: 393px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec04_titulo1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 122px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec04_titulo2 {
    position: absolute;
    width: 81px;
    height: 18px;
    left: 242px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec04_titulo3 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 366px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

#rec05_retangulo {
    position: absolute;
    width: 363px;
    height: 469px;
    left: 501px;
    top: 2052px;
    
    background: #FFFFFF;
    border-radius: 5px
}

#rec05_imagem {
    position: absolute;
width: 369.9px;
height: 295.8px;
left: 483.06px;
top: 2044.07px;

background: url(.png);
}

#rec05_preco {
    position: absolute;
width: 196px;
height: 36px;
left: 522px;
top: 2345px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec05_titulo {
    position: absolute;
    width: 156px;
    height: 21px;
    left: 522px;
    top: 2376px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec05_sub {
    position: absolute;
    width: 38px;
    height: 21px;
    left: 522px;
    top: 2393px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF0000;
        
}

#rec05_cama {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 20.83%;
    bottom: 16.67%;
    
    background: #000000;    
}

#rec05_qtde1 {
    position: absolute;
width: 9px;
height: 21px;
left: 551px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec05_banho {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #000000;    
}

#rec05_qtde2 {
    position: absolute;
width: 10px;
height: 21px;
left: 670px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;
}

#rec05_local {
    position: absolute;
left: 10%;
right: 10%;
top: 15%;
bottom: 10%;

background: #000000;
}

#rec05_qtde3 {
    position: absolute;
width: 42px;
height: 21px;
left: 793px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec05_titulo1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 522px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec05_titulo2 {
    position: absolute;
    width: 81px;
    height: 18px;
    left: 642px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

#rec05_titulo3 {
    position: absolute;
width: 74px;
height: 18px;
left: 766px;
top: 2468px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec06_retangulo {
    position: absolute;
    width: 363px;
    height: 469px;
    left: 901px;
    top: 2052px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

#rec06_imagem {
    position: absolute;
width: 351px;
height: 337.14px;
left: 903.81px;
top: 2060px;

background: url(.png);

}

#rec06_preco {
    position: absolute;
    width: 196px;
    height: 36px;
    left: 922px;
    top: 2345px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

#rec06_titulo {
    position: absolute;
width: 156px;
height: 21px;
left: 922px;
top: 2376px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec06_sub {
    position: absolute;
    width: 38px;
    height: 21px;
    left: 922px;
    top: 2393px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FF0000;
        
}

#rec06_cama {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 20.83%;
    bottom: 16.67%;
    
    background: #000000;    
}

#rec06_qtde1 {
    position: absolute;
width: 9px;
height: 21px;
left: 951px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec06_banho {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #000000;    
}

#rec06_qtde2 {
    position: absolute;
width: 10px;
height: 21px;
left: 1070px;
top: 2447px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000;

}

#rec06_local {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 10%;
    
    background: #000000;
        
}

#rec06_qtde3 {
    position: absolute;
    width: 42px;
    height: 21px;
    left: 1193px;
    top: 2447px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec06_titulo1 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 922px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec06_titulo2 {
    position: absolute;
    width: 81px;
    height: 18px;
    left: 1042px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#rec06_titulo3 {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 1166px;
    top: 2468px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
        
}

#contato_fundo_escuro {
    position: absolute;
    width: 1366px;
    height: 737px;
    left: 0px;
    top: 2694px;
    
    background: #C4C4C4;
}

#contato_fundo_transp {
    position: absolute;
    width: 1366px;
    height: 741px;
    left: 1366px;
    top: 2685px;
    
    background: rgba(0, 0, 0, 0.5);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#contato_imagem {
    position: absolute;
    width: 1382px;
    height: 900px;
    left: -18px;
    top: 2582px;
    
    background: url(.png);
}

#contato_titulo {
    position: absolute;
width: 381px;
height: 120px;
left: 93px;
top: 2844px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;

color: #FFFFFF;

}

#contato_insta {
    position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;

background: #FFFFFF;
}

#cad_retangulo {
    position: absolute;
    width: 580px;
    height: 445px;
    left: 693px;
    top: 2833px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

#cad_nome {
    position: absolute;
    width: 485px;
    height: 75px;
    left: 740px;
    top: 2966px;
    
    background: #C4C4C4;
}

#cad_email {
    position: absolute;
    width: 485px;
    height: 75px;
    left: 740px;
    top: 3059px;
    
    background: #C4C4C4;
    }

#cad_kirim {
    position: absolute;
    width: 485px;
    height: 75px;
    left: 740px;
    top: 3152px;
    
    background: #00985B;
    
}

#roda_retangulo {
    position: absolute;
    width: 1366px;
    height: 270px;
    left: 0px;
    top: 3426px;
    
    background: #000000;
}

#roda_logo {
    position: absolute;
    width: 23.67px;
    height: 23.67px;
    left: 96.67px;
    top: 3534.67px;
    
    background: url(.png);
}


a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #0000;
}